/* CSS da sessão produtos */
body{
    overflow-y: hidden;
}
main{
    grid-column: 2/3;
    grid-row: 2/3;

}
section.produtos{
    height: 700px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


section.produtos .titulo-produtos{
    width: 100%;
    color:#FFFFFF;
    font-weight: bold;
    text-align: left;
    font-size: large;
    margin: 0 auto;
}

section.produtos .grid-catalogo-produtos{
    display: grid;
    row-gap: 20px;
    column-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    margin-top: 30px;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;

}

section.produtos .grid-catalogo-produtos::-webkit-scrollbar{
    width: 25px;
    background-color: transparent;
    border-radius: 15px;
}

section.produtos .grid-catalogo-produtos::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background-color: #888888;
    border: solid #232323 7px;
}


section.produtos .grid-catalogo-produtos .item-produto{
    width: 170px;
    height: 200px;
    transition: 0.5s;
    align-items: center;
    margin: 0 auto;
    position: relative;
}


section.produtos .grid-catalogo-produtos .item-produto .img-produto{
    width: 170px;
    height: 150px;
}

section.produtos .grid-catalogo-produtos .item-produto .img-produto img{
    width: 170px;
    height: 150px;
    object-fit: cover;
    border-radius: 3px;
}

section.produtos .grid-catalogo-produtos .item-produto .txt-produto{
    color: #FFFFFF;
    font-size: 13px;
    height: 40px;
    width: 100%;
}

section.produtos .grid-catalogo-produtos .item-produto .txt-produto h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}
section.produtos .grid-catalogo-produtos .item-produto .txt-produto p{
    font-size: 12px;
    font-weight: 200;
}

section.produtos .modal[open] {
    display: block;
}

.modal-edicao{
    align-content: center;
    border: none;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: transparent;
    height: 100%;
    width: 100%;
}
.modal-edicao form{
    background-color: #f9f9f9;
    display: flex;
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
    height: 500px;
    padding: 20px;
    flex-direction: column;
    position: relative;
    border-radius: 3px;
}
.modal-edicao::backdrop{
    background-color: #23232394;
}
.modal-edicao p{
    font-size: 13px;
    color: #474747;
    font-weight: bold;
    
}
.modal-edicao .input-campo {
    margin-bottom: 5px;
}
.modal-edicao .input-campo input{
    padding: 3px 5px ;
    width: 100%;
}
.modal-edicao.input-campo:last-child input{
    width: 48%;
}
.modal-edicao.input-campo p{
    margin-bottom: 5px;
}

.modal-edicao .input-campo textarea{
    padding: 5px 20px 3px 5px;
    width: 100%;
    height: 70px;
}
.input-file {
    display: none; /* Esconde o input padrão */
}

.custom-file-button {
    display: inline-block;
    background-color: #4065AB;
    color: #dbe6f9;
    padding: 5px 15px;
    font-size: 13px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 1px 1px 1px #23232348;
    position: absolute;
}

.modal-edicao .btns-modal{
    height: 100%;
}
#img-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
#img-container .input-campo{
    position: relative;
    max-height: 200px;
    object-fit: cover;
    height: 100%;
}
#img-container .input-campo label{
    position: absolute;
    left: 0;
    height: 100%;
    color: #232323;
    background-color: #fafafa45;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preview{
    border: solid 1px rgb(136, 136, 136);
    width:100% ;
    height: 100%;
    margin-bottom: 15px;
    margin: 0 auto;
    object-fit: cover;
}
.btn-edit button{
    position: absolute;
    right: 0;
    bottom: 10px;
    background-color: #4065AB;
    padding: 5px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f4f4f4;
    border: #232323 solid 3px;
    cursor: pointer;
}
.cancelar-edit{
    border-radius: 100%;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 25px;
    height: 25px;
    padding: 0;
    background-color: #888888;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cancelar-edit:hover{
    background-color: #585858;
}

.cancelar-edit img{
    border-radius: 100%;
    width: 20px;
}
.btn-atualizar{
    width: 49%;
    padding: 5px 0;
    background-color: #0A6A2B ;
    border: none;
    color: #f2fff7;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}

.btn-atualizar:hover{
    background-color: #07461d ;
}
.btn-addProduto {
    position: fixed;
    right: 50px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: #4065AB;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 900; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.btn-addProduto img {
    width: 30px;
    height: 30px;
}
#modal-create {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f9f9f9;
    width: 50%;
    min-width: 300px;
    max-width: 500px;
    padding: 20px;
    border-radius: 3px;
    border: none;
    z-index: 1000;
}

#modal-create::backdrop {
    background-color: rgba(35, 35, 35, 0.58);
}

#modal-create form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#modal-create .btn-fechar-modal {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    cursor: pointer;
    background-color: #a7a7a7;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#modal-create form textarea{
    height: 50px;
    padding: 5px;
    width: 100%;
}

#modal-create form input{
    padding: 5px;
    width: 100%;
}

#modal-create form #img-container .input-campo{
    height: 300px;
}
#modal-create .btn-fechar-modal img {
    width: 20px;
}
#btn-cadastrar{
    margin-top: 10px;
    background-color:#0A6A2B;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    color: #e2ffec;
    padding: 5px 10px;

}

#btn-cadastrar:hover{
    background-color: #07461d;
}