
main{
    align-items: center;
    justify-items: center;
    grid-row: 2/3;
    grid-column: 2/3;
    width: 85%;
    height: 80vh;
    margin: 0 auto;
}


.main-content {
    padding: 20px; 
}


.info{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    height: 100%;
}

.perfil-container{
    background-color: #313131;
    border-radius: 3px;
    width: 100%;
        max-width: 700px;
    padding: 20px;
    height: 160px;
}
.perfil-container form{
    height: 100%;
}
.foto-perfil {
    position: relative;
}

.foto-perfil img {
    width: 150px; 
    height: 150px;
    margin-left: 30px;
    border-radius: 50%;
}


.editar-icon:hover {
    color: #666768; 
}
.info-dados-perfil{
    width: 100%;
}
.dados-perfil {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    height: 100%;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
}


.dados-perfil input{
    border-radius: 3px;
    border: none;
    outline: none;
    width: 100%;
    padding: 5px 10px;
}

.dados-perfil button{
    width: 100%;
    padding: 7px 0 ;
    border: none;
    background-color: #0A6A28;
    color: #D3FAE0;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #4e4e4e4b;
    text-transform:capitalize;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 600;
    transition: 0.2s;
}

.dados-perfil  button:hover{
    background-color: #05581f;
    scale: 1.05;
}

.dados-perfil p {
    font-weight: bold;
    font-size: 10px;
    display: inline;
    align-items: center;
    margin-bottom: 10px;
}

/* Esconde o input file original */
.dados-perfil .input-file {
    display: none;
}

/* Estilização da label personalizada */
.upload{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dados-perfil .custom-file-upload:hover {
    background-color: #e0e0e0;
}

.dados-perfil .icone-upload {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #232323;
    background-color: #F0F0F0;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 80px;
    width: 100%;
}

.custom-file-upload:hover {
    background-color: #e0e0e0;
}

.custom-file-upload i {
    font-size: 25px;
    margin-bottom: 5px;
}

.nome-arquivo {
    font-size: 11px;
    color: #D3FAE0;
    text-align: center;
    max-width: 120px;
    word-break: break-all;
}

/* imagens */
.galeria {
   display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 15px;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 5px; 
}

.galeria-item {
    position: relative;
    background-color: #444;
    border-radius: 5px;
    overflow: hidden;
}

.galeria-item img {
    width: 100%;
    height: auto;
    display: inline;
    border-radius: 6px;
}

/* Ícone de três pontinhos*/
.galeria {
    display: flex;
    gap: 12px;
}

.imagem-item {
    position: relative; 
    display: inline-block;
}

.imagem-item img {
    display: block;
    width: 100%; 
    height: auto;
    border-radius: 10px;
}

main .icone-editar {
    position: absolute;
    bottom: 10px; 
    right: 10px; 
    background: #4065AB;
    color: white;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .btn-excluir {
    position: absolute;
    bottom: 10px; 
    right: 50px; 
    background: #c03939;
    color: white;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}


/* Estilo para os ícones dentro da galeria */
.galeria .material-symbols-outlined {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #4065AB;
    color: white;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.galeria .material-symbols-outlined:hover {
    background: rgba(0, 0, 0, 0.8);
}


.dados-perfil h1, 
.dados-perfil p {
    display: flex;
    align-items: center;
}
.dados-perfil .editar-icon  {
    background: #4065AB;
    color: white;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
}

.editar-icon {
    position: static; 
    background: none;
    padding: 0;
    border-radius: 0;
    font-size: 20px; 
    color: #ffffff;
    cursor: pointer;
    transition: color 0.3s;
}
.dados-perfil .editar-icon:hover {
    background: #4065AB;
}
.editar-icon:hover {
    color: #666768;
}

/* Estilo para o ícone ao lado da foto de perfil */
.foto-perfil .editar-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #4065AB;
    color: white;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
}

.foto-perfil .editar-icon:hover {
    background: rgba(0, 0, 0, 0.8);
}


   /* CSS do grid que será implementado */

   
#grid2::-webkit-scrollbar{
    width: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

#grid2::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #797979;
    border: solid #f4f4f4 5px;
}

.grids-container {
    margin-top: 20px;
    background-color: #f4f4f4;
    padding: 5px 0 5px 5px;
    width: 100%;
    max-width: 700px;
    height: 70%;
}

#grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    width: 100%;
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

#grid2 .item {
    position: relative;
    height: 150px;
    overflow: hidden;
}

#grid2 .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

#grid2 .item img:hover {
    opacity: 0.8;
}

#grid2 .item .txt-teste {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: white;
    background: linear-gradient(transparent, rgba(0,0,0,0.7));
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#grid2 .item .txt-teste h1 {
    font-size: 16px;
    margin: 0;
    font-weight: 500;
}

#grid2 .item .txt-teste .preco {
    text-align: right;
    transform: translateY(-80px);
}

#grid2 .item .txt-teste .preco p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

#grid2 .item .txt-teste .duracao {
    font-size: 12px;
    margin-top: 5px;
}

#preview{
    border: solid 1px rgb(136, 136, 136);
    object-fit: cover;
    height: 100px;
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 3px;
}
#preview:empty {
    display: none;
  }
  
  
.input-campo{
    background-color: #f4f4f42d;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    position: relative;
}
.input-campo label{
    font-size: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}

/* Adicione ao seu arquivo CSS */
.perfil-container, .perfil-container-atualizar {
    transition: all 0.3s ease;
}

.botoes-edicao {
    display: flex;
    gap: 10px;
}

#cancelar-edicao {
    background-color: #a23333;
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}


#cancelar-edicao:hover {
    background-color: #d32f2f;
}
#preview-edicao{
    border: solid 1px rgb(136, 136, 136);
    object-fit: cover;
    height: 100%;
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 3px;
    position: absolute;
    top: 0;
    z-index: 0;
}
.botoes-edicao{
    display: grid;
}
#excluir-btn{
    background-color: #a23333;
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}
#excluir-btn:hover {
    background-color: #d32f2f;
}
#modal-excluir{
    width: 95%;
    max-width: 400px;
    align-self: center;
    border: none;
    margin: 0 auto;
    padding: 15px;
    border-radius: 6px;
}

#modal-excluir::backdrop{
    background-color: #31313162;
}

#imagem-modal-excluir{
    border-radius: 3px;
    max-height: 300px;
}
#modal-excluir form{
    display: flex;
    flex-direction: column;
}

#modal-excluir form div{
    display: flex; 
    gap: 10px;
    margin-top: 10px;
}

#modal-excluir form div button{
    width: 100%;
    padding: 3px 0
}

#modal-excluir form div button:first-child{
    background-color: #0A6A28;
    border: none;
    color: #e9fff0;
    border-radius: 3px;
}