*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

body{
  background-color: #232323;
  display: grid;
  grid-template-columns: 230px 1fr;
}

/* Menu mobile inferior >desligado< nessa versão desktop(CSS para que ele não apareça) */

nav.menu-inferior-mobile{
  display: none;
}

/* CSS do Menu Lateral DESKTOP e seus comportamnentos */

nav.menu-lateral-desktop {
  background-color: #313131;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 230px;
}


nav.menu-lateral-desktop .logo img{
  margin-bottom: 40px;
  margin-top: 40px;
}

nav.menu-lateral-desktop ul{
  width: 100%;
  height: 60%;
}

nav.menu-lateral-desktop ul li.item-menu{
  list-style: none;
  display: flex;
  margin-bottom: 12px;
  padding-left: 21px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: left;
  transition: 0.5s;
  
}
nav.menu-lateral-desktop ul li.item-menu:hover{
  background-color: #232323;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 31px;
  border-radius: 3px;
}

  
nav.menu-lateral-desktop ul li.item-menu a span.txt-link{
  font-size: 15px;
  margin-left: 15px;
  font-weight: 300;
  color: #d4d4d4;
  /* text-decoration: none; */
}

nav.menu-lateral-desktop ul li.item-menu a img{
  vertical-align: middle;
}

nav.menu-lateral-desktop ul li.item-menu a{
  text-decoration: none;
}

nav.menu-lateral-desktop .btn-sair{
  text-align: left;
  margin-bottom: 20px;
  margin-right: 80px;
}


nav.menu-lateral-desktop .btn-sair {
  border: none;
  cursor: pointer;
  height: 25px;
  font-size: 12px;
  font-weight: bold;
  padding: 3px  10px;
  color: #d4d4d4;
  background-color: #4065AB;
  border-radius: 3px;
  transition: 0.5s;
}

nav.menu-lateral-desktop .btn-sair:hover{
  scale: 0.9;
  background-color: #2d4777;
  box-shadow: inset 2px 2px 1px #23232348;
  
}

nav.menu-lateral-desktop .btn-sair img{
  margin-right: 18px;
  vertical-align: middle;
}
@media screen and (max-width: 768px){

  nav.menu-lateral-desktop{
      display: none;
  }
  body{
    display: block;
  }
}