/* CSS da sessão perfil */

section.home{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    grid-column: 2/3;
}

section.home .container-home{
    display: flex;
    gap: 87px;
    margin: 0 auto;
    justify-content: center;
    justify-self: center;
    
}

section.home .container-home .foto-home{
    
    width: 160px;
    height: 160px;
}

section.home .container-home .foto-home .profile-pic{
    border-radius: 100%;
    width: 160px;
    height: 160px;
}

section.home .container-home .informacoes-home{
   padding: 26px 0px;
    height: 160px;
    width: 214px;
    color: #F9F9F9;
}

section.home .container-home .informacoes-home h1{
    font-size: 36px;
    font-weight: bold;
    
}

section.home .container-home .informacoes-home .estrelas-icons i{
    color: #FFD25E;
    font-size: 28px;
    

}

section.home .container-home .informacoes-home .endereco-info p{
    font-weight: 100;
    font-size: 14px;
   
}

section.home .container-home  .marcar-horario {
    vertical-align: middle;
    padding: 65px 0px;
}

section.home .container-home  .marcar-horario .btn-marcar-horario{
    height: 40px;

}

section.home .container-home  .marcar-horario .btn-marcar-horario a button{
    border: none;
    cursor: pointer;
    height: 38px;
    font-size: 12px;
    font-weight: bold;
    padding: 7px  51px;
    color: #d4d4d4;
    background-color: #4065AB;
    border-radius: 3px;
    transition: 0.5s;
}

section.home .container-home  .marcar-horario .btn-marcar-horario a button:hover{
    scale: 0.9;
    background-color: #2d4777;
    
}

/* CSS do Submenu do home */

section.home .submenu{
    width: 786px;
    height: 44px;
    margin: 0 auto;
    display: flex;
    
    padding-left: 0px;
   
}

section.home .submenu button {
    /* padding: 6px 85px; */
    width: 257px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #F6F7F9;
    position: relative;
    margin-left: 3px;
}

section.home .submenu button::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #F6F7F9;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

section.home .submenu button:hover::after,
section.home .submenu button:focus::after {
    width: 100%;
}


section.home .submenu button:focus {
    outline: none;
}


section.home .grids-container .grid.ativo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 780px;
    height: 407px;
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

section.home .grids-container #grid2 .item{
    position: relative; /* Define um contexto para a .txt-teste */
     /* Evita que o texto saia da imagem */

}

#grid2{
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    row-gap: 2px;
    column-gap: 2px;
}
#grid2 .item{
    height: 150px;
}

#grid2 .item img{
    max-width: 389px;
    height: 150px;
    transition: 0.5s;
}

#grid2 .item img:hover{
    opacity: 0.5;
}


#grid2 .item .txt-teste {
    position: absolute;
    bottom: 0; /* Alinha no rodapé da imagem */
    left: 0;
    width: 100%; /* Faz o texto ocupar toda a largura da imagem */
    padding: 10px;
    color: white;
    font-size: 14px;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 97px;
}

#grid2 .item .txt-teste .preco{
    transform: translateY(-70px);
    font-size: 20px;
    font-weight: 100;
}



section.home .grids-container .grid.ativo .item .image-container{
    position: relative;
}


section.home .grids-container .grid.ativo .item .image-container .servicos-txt{
    padding: 10px;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 95px;
    top: 0;
    left: 0;
    color: #F6F7F9;
    z-index: 9999;
}

section.home .grids-container .grid {
    display: none; /* Oculta todos os grids */
    max-height: 50vh;
}

section.home .grids-container .grid::-webkit-scrollbar{
    width: 20px;
    background-color: #232323;
}

section.home .grids-container .grid::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #898989;
    border: solid #232323 5px;
}


section.home .grids-container .grid .item img{
    max-width: 257px;
    height: 269.93px;
}
.grids-container{
    margin-top: 5px;
}
