/* CSS da sessão perfil */
.input-campo .btn-edit{
    width: 0;
}
section.perfil{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 40px;
}

section.perfil .container-perfil{
    display: flex;
    align-items:center;
}

section.perfil .container-perfil .foto-perfil{
    width: 170px;
    height: 170px;
    margin-right: 20px;
}

section.perfil .container-perfil .foto-perfil .profile-pic{
    width: 150px;
    height: 150px;
}
section.perfil .container-perfil .foto-perfil .profile-pic img{
    width: 150px;
    height:150px;
    object-fit: cover;
    border-radius: 100%;
}

section.perfil .container-perfil .foto-perfil .btn-alterar-foto{
    transform: translateY(-20px);
    margin-left: 75%;
}

section.perfil .container-perfil .foto-perfil .btn-alterar-foto img{
    width: 30px;
    height: 30px;
    object-fit:contain;

}

section.perfil .container-perfil {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

section.perfil .container-perfil.form form {
    max-width: 104px;
    height: 157px;
    padding: 0px 45px 0px 2px;
}

section.perfil .container-perfil .form form input{
    font-weight: 500;
    font-size: 20px;
    padding: 12px;
    color: #898989;
    background-color: #f9f9f9;
}
.input-campo{
    margin-right: 20px;
}

section.perfil .container-perfil .form form p{
    font-size: 10px;
    color: #d4d4d4;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    
}

section.perfil .container-perfil .form form label{
        pointer-events: none;
        position: relative;
        top: 5px;
        left: 14.5px;
        font-size: 10px;
        color: #3F4346;
        font-weight: bold;
        transition: all .1s linear;
        -webkit-transition: all .1s linear;
        -moz-transition: all .1s linear;
        padding: 1px 5.5px;
        box-sizing: border-box;
}

section.perfil .container-perfil .form form .input-campo{
    display:flex;
    margin-bottom: 20px;
}

section.perfil .container-perfil .form form .input-campo span{
    transform: translateX(-30px) translatey(5px);
    width: 25px;
    height: 25px;
    color: #3F4346;
}

#btn-edit-foto{
    color: #FDFDFD;
    cursor: pointer;
}

.form-perfil{
    height: 145px;
}

section.perfil .container-perfil .form form .input-campo span:hover{
    opacity: 0.5;
}

section.perfil .container-perfil .form form input{
    border-radius: 3px;
    border: none;
    width: 290px;
    height: 40px;
    display: block;
    transition: 0.1s;
}


section.perfil .container-perfil .horarios-marcados{
    width: 400px;
}

section.perfil .container-perfil .horarios-marcados p{
    font-size: 10px;
    color: #d4d4d4;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 5px;
    
}

section.perfil .container-perfil .horarios-marcados .caixa-horarios::-webkit-scrollbar{
    width: 10px;
}

section.perfil .container-perfil .horarios-marcados .caixa-horarios::-webkit-scrollbar-thumb{
    background-color: #bababa;
    border-radius: 10px;
}

section.perfil .container-perfil .horarios-marcados .caixa-horarios{
    background-color: #FDFDFD;
    height: 120px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    
    
}

section.perfil .container-perfil .horarios-marcados .caixa-horarios .horario-caixa{
    
    max-width: 100%;
    background-color: #898989;
    border-radius: 3px;
    display: flex;
    margin: 5px 5px 0 5px;

}

section.perfil .container-perfil .horarios-marcados .caixa-horarios .horario-caixa p{
    color: #232323;
    font-size: 15px;
}

section.perfil .container-perfil .horarios-marcados .caixa-horarios .horario-caixa .nome-barbeiro{
    margin-left: 10px;
}



section.perfil .container-perfil .horarios-marcados .caixa-horarios p{
    font-size: 15px;
    color: #898989;
    font-weight: 500;
    /* padding: ; */
}

.btns-modal{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.btns-modal a{
    text-decoration: none;
}
.btns-modal button{
    padding: 5px;
    width: 70px;
}
#modal-sair::backdrop{
    background-color: #23232383;
}

#modal-edit{
    height: 300px;
    margin: auto;
    padding: 10px;
    border-radius: 3px;
    width: 500px;
    border: none;
}
#modal-edit::backdrop{
    background-color: #23232383;
}
#modal-edit p{
    font-size: 15px;
    color: #313131;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 5px;
    
}
#modal-edit .input-campo{
    margin-bottom: 15px;
    margin-top: 5px;
}
#modal-edit .input-campo input{
    padding: 5px 20px 5px 20px
}
.input-file {
    display: none; /* Esconde o input padrão */
}

.custom-file-button {
    display: inline-block;
    background-color: #898989;
    color: #232323;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    box-shadow: 1px 1px 1px #23232348;
}

.custom-file-button:hover,
#modal-edit button:hover{
    background-color: #646464;
}

#modal-edit button{
    padding: 5px 10px;
    background-color: #898989;
    border: none;
    border-radius: 3px;
    color: #232323;
    box-shadow: 1px 1px 1px #23232348;

}