/* CSS da sessão produtos */
body{
    align-items: center;
}
section.produtos{
    margin-top: 80px;
    align-items: center;
    height: 600px;
    margin: 0 auto;
    padding: 0 30px;
    grid-column: 2/3;
}

section.produtos .titulo-produtos{
    width: 100%;
    color:#FFFFFF;
    font-weight: bold;
    text-align: left;
    font-size: large;
}

section.produtos .grid-catalogo-produtos{
    display: grid;
    row-gap: 20px;
    column-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    margin-top: 30px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;

}

section.produtos .grid-catalogo-produtos::-webkit-scrollbar{
    width: 25px;
    background-color: transparent;
    border-radius: 15px;
}

section.produtos .grid-catalogo-produtos::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background-color: #888888;
    border: solid #232323 7px;
}


section.produtos .grid-catalogo-produtos .item-produto{
    width: 170px;
    height: 200px;
    transition: 0.5s;
    align-items: center;
    margin: 0 auto;
    
}

section.produtos .grid-catalogo-produtos .item-produto:hover{
    width: 170px;
    height: 200px;
    opacity: 0.5;
    cursor: pointer;
    scale: 1.01;
}

section.produtos .grid-catalogo-produtos .item-produto .img-produto{
    width: 170px;
    height: 150px;
}

section.produtos .grid-catalogo-produtos .item-produto .img-produto img{
    width: 170px;
    height: 150px;
    object-fit: cover;
    border-radius: 3px;
}

section.produtos .grid-catalogo-produtos .item-produto .txt-produto{
    color: #FFFFFF;
    font-size: 13px;
    height: 40px;
    width: 100%;
}

section.produtos .grid-catalogo-produtos .item-produto .txt-produto h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}
section.produtos .grid-catalogo-produtos .item-produto .txt-produto p{
    font-size: 12px;
    font-weight: 200;
}

section.produtos .modal{
    display: none;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000a3;
    justify-content: center;
    align-items: center;
}

.popup-container #popup-descricao{
    width: 308px;
    font-size: 11px;
    text-align: left;
    font-weight: 800;
    color: #3d3d3d;
}

.popup-container {
    background: white;
    padding: 30px;
    border-radius: 3px;
    position: relative;
}

.popup-container p{
    font-weight: bold;
}

.popup-container img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.btn-fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    color: #B3B6BC;
    font-size: 20px;
    transition: 0.5s;
}

.btn-fechar:hover {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    color: #6b8fdb;
    font-size: 20px;
}